/*------------------------------ how_it_works ------------------------------*/
.works_bg_img {
  background-image: url("/assets/images/png/how-works-bg.png") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}
.how_it_works {
  padding-top: 86px;
  padding-bottom: 113px;
}
.opacity_80 {
  opacity: 0.8;
}
.max_w_890 {
  max-width: 890px;
}
.how_work_pera_pt {
  padding-top: 28px;
}
.how_work_pb {
  padding-bottom: 26px;
}
.green_circle {
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background-color: #228b22;
}
.max_w_918 {
  max-width: 918px;
}
.max_w_240 {
  max-width: 240px;
}
.max_w_265 {
  max-width: 265px;
}
.circle_card_mt {
  margin-top: 86px !important;
}
.circle_card_mb {
  margin-bottom: 39px;
}
.circle_card_gap {
  gap: 40px;
}
.circle_card_pera_pt {
  padding-top: 10px;
}
.green_line {
  max-width: 173px !important;
  top: 23%;
  left: 24%;
}
.green_line_2 {
  max-width: 173px !important;
  top: 23%;
  right: 24%;
}
/*-------------------- nav --------------------*/
.nav_py {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
/*-------------------- statistics_for_today --------------------*/
.statistics_for_today {
  padding-top: 167px;
  padding-bottom: 278px;
}
.counter_card {
  width: 256px;
  height: 235px;
  border-radius: 25px;
  transition: all 300ms;
  background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
}
.counter_card:hover {
  box-shadow: 0px 0px 30px #228b22;
}
.counter_card_mt {
  margin-top: 98px !important;
}
.counter_card_text {
  color: #121f13;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #228b22;
}
.counter_card_text_pt {
  padding-top: 38px;
}
.max_w_996 {
  max-width: 996px;
}
.trangle_shadow {
  max-width: 96px;
  bottom: 0;
  left: 0;
  animation: vector 15s linear infinite;
}
.green_ellipse_trangle {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  left: -5%;
  bottom: -10%;
  animation: ellips 15s linear infinite;
}
/*------------------- average_earnings -------------------*/
.average_earnings {
  padding: 30px 0px;
}
.max_w_1440 {
  max-width: 1440px;
}
.max_w_705 {
  max-width: 705px;
}
.social_img {
  max-width: 210px !important;
}
.px_6 {
  padding: 0px 6px;
}
.social_row_mt {
  margin-top: 12px;
}
.social_translate {
  transform: translateX(-16%);
}
.max_w_548 {
  max-width: 548px;
}
.commun_btn {
  padding: 16px 35px;
  border-radius: 65px;
  line-height: 138.2%;
  background-color: #228b22;
  border: 1px solid #228b22;
  transition: all 300ms;
}
.commun_btn:hover {
  background-color: var(--clr-darkgreen);
}
.commun_btn_mt {
  margin-top: 60px;
}

.slide_container {
  width: calc(360px * 4);
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 15s linear infinite;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-360px * 2));
    transform: translateX(calc(-360px * 2));
  }
}
.slide_container2 {
  width: calc(360px * 8);
  -webkit-animation: scroll 20s linear infinite;
  animation: scrolltwo 6s linear infinite;
}
@-webkit-keyframes scrolltwo {
  0% {
    -webkit-transform: translateX(-360px);
    transform: translateX(-360px);
  }
  100% {
    -webkit-transform: translateX(calc(0px * 4));
    transform: translateX(calc(0px * 4));
  }
}
.box_shadow {
  max-width: 96px;
  bottom: 0;
  right: 3%;
  animation: vector 15s linear infinite;
}
.green_ellipse_box {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  right: -5%;
  bottom: -10%;
  animation: ellips 15s linear infinite;
}
/*-------------------------- back to top --------------------------*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #228b22;
  color: white;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 300ms linear;
  animation: buttonHover 3s linear infinite;
}

#myBtn:hover {
  background: #102012;
  box-shadow: 0px 0px 10px #03f703;
}

/*--------------------- scrollbar ---------------------*/
::-webkit-scrollbar {
  width: 10px;
  background-color: #0a130b;
}
::-webkit-scrollbar-track {
  background: var(--clr-darkgreen);
  border: 1px solid #228b22;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #228b22;
  border-radius: 10px;
  border: 1px solid #ffffff;
}
/*--------------------- faq ---------------------*/
.green_ellipse_circle {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  left: -16%;
  bottom: -34%;
  animation: ellips 15s linear infinite;
}
.green_ellipse_circle3 {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  left: -6%;
  bottom: 9%;
  animation: ellips 15s linear infinite;
}
.circle_shadow {
  max-width: 96px;
  bottom: -6%;
  left: -9%;
  animation: vector 15s linear infinite;
}
.green_ellipse_circle2 {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  right: -13%;
  top: 11%;
  animation: ellips 15s linear infinite;
}
.circle_shadow2 {
  max-width: 96px;
  top: 25%;
  right: -6%;
  animation: vector 15s linear infinite;
}
.faq {
  padding-top: 250px;
  padding-bottom: 250px;
}
.faq_heading_mb {
  margin-bottom: 50px !important;
}
.accordian_box {
  max-width: 670px;
}

.accordion {
  border: unset !important;
}
.accordion-button:not(.collapsed) {
  border-bottom: transparent !important;
  color: var(--bs-accordion-active-color);
  background-color: transparent !important;
  box-shadow: unset !important;
  padding: 20px 0px 20px 0px !important;
}

.accordion-flush .accordion-item {
  border-bottom: 1px solid #ffffff !important;
}

.accordion-button:not(.collapsed)::after {
  transition: all 500ms linear !important;
  transform: rotate(180deg) !important;
}

.accordion-item {
  background-color: transparent !important;
}

.accordion-button::after {
  background-size: cover !important;
  width: 32px !important;
  height: 32px !important;
  font-size: 32px !important;
  margin-top: -2px !important;
  background-image: url("../images/svg/accordion-btn.svg") !important;
}

.accordion-button {
  transition: all 600ms linear-in-out !important;
  border-bottom: 1px solid #40501c !important;
  padding: 20px 0px !important;
  display: flex;
  align-items: start !important;
}

.accordion-body {
  position: relative;
  z-index: 10;
  border-bottom: 1px solid #98bd42 !important;
  padding: 0px 0px 20px 0px !important;
}

.max_w_725 {
  max-width: 725px;
}

.max_w_555 {
  max-width: 555px;
}

.accordion-button,
.accordion-body,
.accordion-item {
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
}
/* ---------take first step----------- */
.form_box {
  max-width: 433px;
  padding: 18px 12px 37px;
  border-radius: 25px;
  background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
}
.max_w_315 {
  max-width: 315px;
}
.max_w_343 {
  max-width: 343px;
}
.form2_input {
  border: none !important;
  background-color: #ffffff !important;
  border-radius: 4px;
  outline: none;
}
.custom_placeholder_color::placeholder {
  color: #131313 !important;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
}
::placeholder,
.number_text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #cbcec3 !important;
}
.number_text {
  font-weight: 400 !important;
  border: 1px solid #ffffff;
  padding: 16px 13px !important;
  background: #ebecf0;
  border-radius: 4px;
}
.form_mt {
  margin-top: 36px;
}
.spot_left_mt {
  margin-top: 32px;
}
.max_w_596 {
  max-width: 596px;
}
.max_w_530 {
  max-width: 530px;
}
.group_logos {
  max-width: 571px;
}

.take_first_pb {
  padding-bottom: 21px;
}
.started_btn {
  padding: 15px 35px;
  border-radius: 65px;
  line-height: 138.2%;
  background-color: #228b22;
  border: 1px solid #228b22;
  transition: all 300ms;
}
.commun_btn:hover {
  background-color: var(--clr-darkgreen);
}
.form_section {
  padding-bottom: 200px !important;
}
::placeholder {
  color: #999; /* Change to the desired color */
}
.form_card_mt {
  margin-top: 82px;
}

/*----------------------------- footer -----------------------------*/
.footer_link_hover {
  transition: all 300ms linear;
}
.footer_link_hover:hover {
  opacity: 1 !important;
}
.max_w_260 {
  max-width: 260px;
}
.max_w_1140 {
  max-width: 1140px;
}
.icons_gap {
  gap: 12px;
}
.icons_mt {
  margin-top: 10px;
}
.footer_pt {
  padding-top: 72px !important;
}
.disclaimer_mt {
  margin-top: 40px;
}
.socail_icon_hover {
  transition: all 300ms;
}

.socail_icon_hover:hover {
  transform: translateY(-5px);
}
.footer_line {
  width: 100%;
  height: 1px;
  background: #228b22;
  opacity: 0.3;
  margin-top: 40px;
}
.privacy_py {
  padding: 27px 0px;
}
.privacy_mb {
  padding: 26px;
}
@keyframes buttonHover {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ellips {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes vector {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 1199.98px) {
  .box_shadow {
    max-width: 96px;
    bottom: 0;
    right: 3%;
    animation: vector 15s linear infinite;
    width: 70px;
  }
  .green_ellipse_circle {
    width: 197px;
    height: 197px;
    background-color: var(--clr-green);
    filter: blur(100px);
    border-radius: 50%;
    left: -16%;
    bottom: -34%;
    animation: ellips 15s linear infinite;
  }
  .green_ellipse_circle3 {
    width: 197px;
    height: 197px;
    background-color: var(--clr-green);
    filter: blur(100px);
    border-radius: 50%;
    left: 6%;
    bottom: -50%;
    animation: ellips 15s linear infinite;
  }
  .circle_shadow {
    max-width: 96px;
    bottom: -40%;
    left: 9%;
    animation: vector 15s linear infinite;
    width: 70px;
  }
  .green_ellipse_circle2 {
    width: 197px;
    height: 197px;
    background-color: var(--clr-green);
    filter: blur(100px);
    border-radius: 50%;
    right: 3%;
    top: -15%;
    animation: ellips 15s linear infinite;
  }
  .circle_shadow2 {
    max-width: 96px;
    top: -10%;
    right: 5%;
    animation: vector 15s linear infinite;
    width: 70px;
  }
  .trangle_shadow {
    max-width: 96px;
    bottom: -30%;
    left: 10%;
    animation: vector 15s linear infinite;
    width: 70px;
  }
  .green_ellipse_trangle {
    width: 197px;
    height: 197px;
    background-color: var(--clr-green);
    filter: blur(100px);
    border-radius: 50%;
    left: 5%;
    bottom: -40%;
    animation: ellips 15s linear infinite;
  }
  .how_it_works {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .max_w_705 {
    max-width: 580px;
  }
  .footer_pt {
    padding-top: 100px !important;
  }
  .form_section {
    padding-bottom: 100px !important;
    padding-top: 100px !important;
  }
  .statistics_for_today {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .average_earnings {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .faq {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 991.98px) {
  .nav_py {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .faq_heading_mb {
    margin-bottom: 30px !important;
  }
  .group_logos {
    max-width: 400px;
  }
  .commun_btn_mt {
    margin-top: 45p;
  }
  .form_card_mt {
    margin-top: 60px;
  }
  .max_w_705 {
    max-width: 100%;
  }
  .max_w_548 {
    max-width: 600px;
  }
  .how_work_pera_pt {
    padding-top: 18px;
  }
  .circle_card_mt {
    margin-top: 40px !important;
  }
  .footer_pt {
    padding-top: 80px !important;
  }
  .statistics_for_today {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .faq {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .form_section {
    padding-bottom: 80px !important;
    padding-top: 80px !important;
  }
  .how_it_works {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .average_earnings {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .counter_card_mt {
    margin-top: 60px !important;
  }
  .green_circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #228b22;
  }
  .circle_card_mb {
    margin-bottom: 26px;
  }
  .green_line {
    max-width: 200px;
    top: 22%;
    left: 19%;
  }
  .green_line_2 {
    max-width: 200px;
    top: 22%;
    right: 22%;
  }
  .counter_card {
    width: 220px;
    height: 215px;
    border-radius: 25px;
    background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
  }
  .counter_card_text_pt {
    padding-top: 26px;
  }
}
@media (max-width: 767.98px) {
  .form_card_mt {
    margin-top: 0px;
  }
  .how_work_pera_pt {
    padding-top: 12px;
  }
  .commun_btn_mt {
    margin-top: 32px;
  }
  .col_3_mt {
    margin-top: 32px !important;
  }
  .circle_card_mb {
    margin-bottom: 12px;
  }
  .circle_card_mt {
    margin-top: 40px;
  }
  .counter_card_text_pt {
    padding-top: 18px;
  }
  .statistics_for_today {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .form_section {
    padding-bottom: 64px !important;
    padding-top: 64px !important;
  }
  .footer_pt {
    padding-top: 64px !important;
  }
  .how_it_works {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .faq {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .average_earnings {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .counter_card_mt {
    margin-top: 40px !important;
  }
}
@media (max-width: 575.98px) {
  .accordion-button {
    transition: all 600ms linear-in-out !important;
    border-bottom: 1px solid #40501c !important;
    padding: 10px 0px !important;
    display: flex;
    align-items: start !important;
  }
  .accordion-button:not(.collapsed) {
    border-bottom: transparent !important;
    color: var(--bs-accordion-active-color);
    background-color: transparent !important;
    box-shadow: unset !important;
    padding: 10px 0px 10px 0px !important;
  }
  .slide_container {
    width: calc(360px * 8);
    -webkit-animation: scroll 20s linear infinite;
    animation: scroll 15s linear infinite;
  }
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-100px * 4));
      transform: translateX(calc(-100px * 4));
    }
  }
  .slide_container2 {
    width: calc(360px * 8);
    -webkit-animation: scroll 20s linear infinite;
    animation: scrolltwo 6s linear infinite;
  }
  @-webkit-keyframes scrolltwo {
    0% {
      -webkit-transform: translateX(-200px);
      transform: translateX(-200px);
    }
    100% {
      -webkit-transform: translateX(calc(0px * 4));
      transform: translateX(calc(0px * 4));
    }
  }
  .social_img {
    max-width: 180px !important;
  }
  .privacy_py {
    padding: 16px 0px;
  }
  .green_circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #228b22;
  }
  .accordion-button::after {
    background-size: cover !important;
    width: 16px !important;
    height: 16px !important;
    font-size: 32px !important;
    margin-top: 4px !important;
    background-image: url("../images/svg/accordion-btn.svg") !important;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #228b22;
    color: white;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 300ms linear;
  }
  .top_icon {
    width: 20px;
    height: 28px;
  }
  .col_2_mt {
    margin-top: 32px !important;
  }
  .circle_card_pera_pt {
    padding-top: 6px;
  }
  .number_text {
    font-weight: 400 !important;
    border: 1px solid #ffffff;
    padding: 7px 13px !important;
    background: #ebecf0;
    border-radius: 4px;
  }
  .statistics_for_today {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .form_section {
    padding-bottom: 48px !important;
    padding-top: 48px !important;
  }
  .footer_pt {
    padding-top: 48px !important;
  }
  .how_it_works {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .faq {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .average_earnings {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .disclaimer_mt {
    margin-top: 28px;
  }
}
