* {
  list-style-type: none !important;
  text-decoration: none !important;
}

.bg_header {
  background-image: url(../images/png/header-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav_btn {
  padding: 11px 35px;
  border-radius: 65px;
  line-height: 138.2%;
  border: 1px solid #228b22;
}
.nav_btn:hover {
  background-color: var(--clr-darkgreen);
}
.transition_200 {
  transition: 200ms linear;
}
.nav_border {
  border-bottom: 1px solid #ffffff4d;
}
.main_heading {
  max-width: 840px;
}
.major_ai {
  max-width: 665px;
  color: #cfd2cf;
}

.green_gradiant {
  background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
}

.hero_video {
  border-radius: 8px;
  max-width: 628px;
}
.play_icon {
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  max-width: 54px;
  border-radius: 50%;
  display: block;
}
.stamp {
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  max-width: 119px;
}
.play_icon:hover {
  -webkit-box-shadow: -1px -4px 33px 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: -1px -4px 33px 3px rgba(255, 255, 255, 1);
  box-shadow: -1px -4px 33px 3px rgba(255, 255, 255, 1);
}
.pause_icon {
  display: none;
}

.time_counter {
  max-width: 566px;
}
.hero_counter_card {
  background-color: #122014;
}

.counter_line {
  content: "";
  height: 4px;
  display: flex;
  z-index: 2;
  max-width: 124px;
  width: 100%;
  background-color: #132115;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gap_20 {
  gap: 20px;
}
.hero_mobile {
  max-width: 329px;
}
.hero_form {
  min-width: 261px;
}
.right_ai {
  min-width: 250px;
}
.hero_form {
  transform: translateX(-50%);
  left: 50%;
}
.form_lable_border {
  border-radius: 100px;
  border: 1px solid #cccc;
  min-height: 37.6px;
  outline: linear-gradient(180deg, #9b77e8 0%, #6854ff 100%);
}

.opacity_70 {
  opacity: 70%;
}
.hero_form_btn {
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 65px;
  border: 1px solid var(--clr-green);
}
.hero_form_btn:hover {
  background-color: var(--clr-darkgreen);
}
.hero_left_green_ellipse {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  left: -15%;
  top: 10%;
}
.hero_right_green_ellipse {
  width: 197px;
  height: 197px;
  background-color: var(--clr-green);
  filter: blur(100px);
  border-radius: 50%;
  top: 10%;
  right: -15%;
}
/* -------------------------------------- hero slider img ---------------------------------- */
.hero_slider_img {
  max-width: 80px;
}
.hero_slider_card {
  min-width: 367px;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.01)
    ),
    linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
  border-radius: 8px;
}
.gap_22 {
  gap: 22px;
}
/* --------------------------------------- How it  Benifit ----------------------------------*/
.benifit_heading {
  max-width: 648px;
}
.benefit_content {
  max-width: 558px;
}
.benefit_card {
  background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
  border-radius: 9.93px;
  padding: 78px 36.5px;
}
.benefit_card_heading {
  max-width: 200px;
}
.benefit_card_img {
  max-width: 64px;
}
.benefit_card:hover {
  -webkit-box-shadow: 5px 5px 24px 3px #228b22;
  -moz-box-shadow: 5px 5px 24px 3px #228b22;
  box-shadow: 5px 5px 24px 3px #228b22;
}
.benifit_triangle_vec {
  max-width: 87.8px;
  left: -11%;
  bottom: -3%;
}
.benifit_bottom_ellipse {
  width: 197px;
  height: 197px;
  background-color: #08f70980;
  filter: blur(90px);
  border-radius: 50%;
  left: -21%;
  bottom: -10%;
}
.benifit_top_ellipse {
  width: 197px;
  height: 197px;
  background-color: #08f70980;
  filter: blur(90px);
  border-radius: 50%;
  right: -21%;
  top: 5%;
}
.benifit_square_vec {
  max-width: 95.05px;
  right: -11%;
  top: 5%;
}
/* ---------------------------------------- understanding ----------------------------------- */
.understanding_heading {
  max-width: 624px;
}
.understanding_content {
  max-width: 812px;
}
.understanding_card {
  border-radius: 16px;
  width: 524px;
  height: 260px;
}
.understanding_card_img {
  max-width: 72px;
}
.mw_360 {
  max-width: 360px;
}
.leverged_card {
  border-radius: 9.93px;
  background: linear-gradient(112.83deg, #121f13 0%, #102012 110.84%);
  padding: 20px;
  max-width: 471px;
  margin-top: -10%;
  margin-left: 20px;
}
.nla_graph {
  max-width: 430px;
}
/* ---------------------------------------- media quaries ----------------------------------- */
@media (max-width: 991.98px) {
  .benefit_card {
    padding: 58px 15.5px;
  }
}
@media (max-width: 767.98px) {
  .stamp {
    max-width: 79px;
  }
  .gap_20 {
    gap: 6px;
  }
  .nav_btn {
    padding: 8px 30px;
    border-radius: 65px;
    line-height: 138.2%;
    border: 1px solid #228b22;
  }
}
@media (max-width: 575.98px) {
  .hero_mobile {
    max-width: 310px;
  }
  .hero_form_btn {
    padding: 6px;
  }
  .play_icon {
    max-width: 34px;
  }
}
